body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    @media (min-width:480px) {
        padding: 30px;
    }
    max-width: 650px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 0;
}
footer > ul {
    list-style: none;
}
footer li {
    float: left;
    padding: 10px;
    line-height: 1;
}

li {
    line-height: 1.5;
}

.caseStudyImage {
    width: 75%;
    height: auto;
    padding: 8px;
    margin: 12px;
    justify-self: center;
    border: 1px gray solid;
 }

 .tallImage {
    width: 50%;
 }

 .caseStudyContent {
    margin: 0 auto;
 }

 .caseStudyContent img {
     display: grid;
 }
